__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/
.env/

_build/
build/
docs/_build/

*.log
*.aux
*.toc
*.nav
*.out
*.pdf

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.swp
*~

*.egg
*.egg-info/
dist/
build/
.eggs/
